@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primaryColor: #198754;
$secondaryColor: #e44d26;
$textColor: #646464;
$background: #f6f8fd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

html {
    background-color: $background;
}

ul {
    list-style: none;
}

.area {
    display: flex;

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 20%;
        position: fixed;
        top: 0;
        bottom: 0;
        box-shadow: 1px 0 4px 0px rgba(0, 0, 0, 0.2);
        background-color: white;

        .title {
            font-weight: 500;
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;
            padding: 10px 20px;
        }

        .list {
            ul {
                li {
                    margin-bottom: 18px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        color: $textColor;
                        font-size: 16px;
                        padding: 12px 10px;
                        margin: 0 10px;
                        transition: all 0.1s ease-in-out;

                        img {
                            margin-right: 8px;
                            width: 20px;
                        }
                    }
                }

                a.active,
                a:hover {
                    border-radius: 24px;
                    background-color: $primaryColor;
                    color: white;
                }
            }
        }
    }

    .content {
        display: flex;
        width: 80%;
        flex-direction: column;
        background-color: $background;
        margin-left: 20%;

        .navbar {
            padding: 12px 30px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            background-color: white;
            box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);

            .home {
                display: flex;
                align-items: center;

                button {
                    all: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $primaryColor;
                    color: white;
                    background-color: red;
                    border-radius: 28px;
                    font-weight: 700;
                    font-size: 14px;
                    padding: 10px 12px;
                    transition: all 0.1s;

                    img {
                        width: 20px;
                        color: $textColor;
                        margin-right: 6px;
                    }
                }

                button:hover {
                    transform: scale(1.05);
                    filter: brightness(125%);
                }
            }
        }

        .header {
            display: flex;
            margin: 0 30px;
            padding: 60px 0 20px 0;
            flex-direction: column;

            .title {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;

                h2 {
                    font-size: 36px;
                    font-weight: 500;
                }
            }
        }

        .detail {
            margin: 20px 30px 60px 30px;

            .addArea {
                display: flex;
                justify-content: space-between;
                align-items: center;

                form {
                    display: flex;
                    justify-content: flex-start;
                    width: 40%;
                    height: 50px;

                    img {
                        position: absolute;
                        width: 30px;
                        margin-left: 10px;
                        margin-top: 8px;
                    }

                    input {
                        border: none;
                        outline: none;
                        width: 100%;
                        padding-left: 50px;
                        border-radius: 28px;
                        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
                    }

                    button {
                        all: unset;
                        padding: 0 12px;
                        background-color: grey;
                        color: white;
                        transition: all 0.1s;
                        font-weight: 700;
                    }

                    button:hover {
                        transform: scale(1.05);
                        filter: brightness(125%);
                    }
                }

                button {
                    all: unset;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: blue;
                    color: white;
                    border-radius: 28px;
                    font-weight: 700;
                    font-size: 14px;
                    padding: 16px 10px;
                    transition: all 0.1s;

                    a {
                        color: white;
                    }

                    i {
                        font-size: 18px;
                        margin-top: -3px;
                        margin-right: 6px;
                        font-weight: 700;
                    }
                }

                button:hover {
                    transform: scale(1.05);
                    filter: brightness(125%);
                }
            }

            .tableArea {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px 0;

                table {
                    border-collapse: collapse;
                    text-align: center;
                    width: 100%;
                    border-radius: 14px;
                    overflow: hidden;
                    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);

                    th {
                        background-color: $primaryColor;
                        color: white;
                        font-weight: 700;
                        font-size: 18px;
                        height: 60px;
                        padding: 10px 12px;
                    }

                    td {
                        font-size: 16px;
                        padding: 12px 14px;
                        color: $textColor;

                        button {
                            all: unset;
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            margin: 4px;
                            transition: all 0.1s;
                            font-weight: 700;

                            i {
                                color: white;
                            }
                        }

                        button.detail {
                            background-color: lightslategray;
                        }

                        button.update {
                            background-color: orange;
                        }

                        button.delete {
                            background-color: red;
                        }

                        button:hover {
                            transform: scale(1.05);
                            filter: brightness(125%);
                        }

                        .overlay {
                            width: 0;
                            height: 0;
                            overflow: hidden;
                            position: fixed;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            top: 0;
                            left: 0;
                            z-index: 9;
                            background-color: rgba(0, 0, 0, 0);
                            transition: all 0.6s;

                            .title {
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                h3 {
                                    color: white;
                                    font-size: 28px;
                                }
                            }

                            .content {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0;
                                width: 500px;
                                border-radius: 18px;

                                div {
                                    background-color: white;
                                    padding: 20px;

                                    p {
                                        text-align: justify;
                                    }
                                }
                            }

                            .text {
                                display: flex;
                                justify-content: flex-end;
                                width: 500px;
                                opacity: 0;

                                .close {
                                    color: white;
                                    font-weight: 700;
                                    text-decoration: underline;
                                }
                            }

                            .image {
                                img {
                                    width: 400px;
                                }
                            }
                        }

                        .overlay:target {
                            width: auto;
                            height: auto;
                            bottom: 0;
                            right: 0;
                            background-color: rgba(0, 0, 0, 0.6);

                            // .title {
                            //     h3 {
                            //         animation: slideDownFade 2s;
                            //     }
                            // }

                            // .content {
                            //     animation: zoomFade 1.5s 0.8s forwards;
                            //     div {
                            //         animation: zoomFade 1.5s 0.8s forwards;
                            //     }
                            // }

                            .text {
                                animation: slideLeftFade 0.5s 0.1s forwards;
                            }

                            img {
                                animation: zoomFade 1.5s 0.8s forwards;
                            }
                        }
                    }

                    td.no {
                        width: 10%;
                    }

                    td.item {
                        width: 30%;
                    }

                    td.item2 {
                        width: 20%;
                    }

                    td.latin {
                        font-style: italic;
                    }

                    tr:nth-child(odd) {
                        background-color: #f3f3f3;
                    }

                    tr:nth-child(even) {
                        background-color: #ffffff;
                    }
                }
            }

            .paginition {
                padding: 10px;
                display: flex;
                justify-content: flex-end;

                .list {
                    border: 1px solid rgb(180, 180, 180);
                    padding: 4px 10px;
                }

                .active {
                    background-color: blue;
                    font-weight: 700;
                    color: white;
                }
            }
        }
    }
}

@keyframes zoomFade {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        margin-top: -200px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes slideLeftFade {
    0% {
        opacity: 0;
        margin-right: -30px;
    }

    100% {
        opacity: 1;
        margin-right: 0;
    }
}
